# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/flink

# Redis
REDIS_URL=redis://localhost:6379

# API
API_PORT=3000

# WEBAPP_URL - frontend domain 
WEBAPP_URL=http://localhost

# API_URL - backend domain (for short links and API calls)
API_URL=http://localhost:3000
