@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Fraunces", serif;

  --color-background: #ffffff;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  --color-border: #e5e7eb;
  --color-background-intent: #f5f5f5;
  --color-muted-foreground: #6b7280;
  --color-positive: #10b981;
  --color-negative: #ef4444;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1380px;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary antialiased font-sans;
  }
}
